@font-face{
    font-family: "AvenirRegular";
    src: url(../assets/fonts/Avenir-Regular.otf);
    font-style: normal;
}

@font-face{
    font-family: "AvenirDemiBold";
    src: url(../assets/fonts/Avenir-Demi.otf);
    font-style: normal;
}

@font-face{
    font-family: "AvenirBold";
    src: url(../assets/fonts/Avenir-Bold.otf);
    font-style: normal;
}